@import url(contact.css);

.about__section {
  padding-top: 7rem;
  padding-bottom: 2rem;
  background-color: #5fcf80;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}

.testimonial-item {
  padding: 10px 5px 10px 10px;
  border: 1px solid #eef0ef;
  position: relative;
  width: 40%;
  background: #fff;
}

.testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
}

.testimonial-item p {
  font-style: italic;
  width: 80%;
}

.testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  color: #111;
}

.testimonial-item h4 {
  font-size: 14px;
  color: #999;
}

.testimonial-item h3 {
  margin-left: -10px;
}
