@import url(contact.css);

.top-hero-section {
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(8, 11, 15, 0.53), rgba(8, 11, 15, 0.53)),
    url("../img/hero-bg.jpg") top center;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
}

.homepage__btn {
  margin-right: auto;
  width: auto;
  border: 2px solid #fff;
  transition: all ease-in-out 0.3s;
}

.homepage__btn:hover {
  color: #fff;
  background-color: #5fcf80;
  border: 2px solid #5fcf80;
}

.mentor__button {
  width: auto;
  margin-left: auto;
  background-color: #9ee5b3ba;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.mentor__button:hover {
  background-color: #fff;
  color: #5fcf80;
}

.mentor-1 {
  background-color: #5fcf80;
  color: #fff;
  padding: 30px 40px;
  border-radius: 4px;
}

.mentor-box {
  text-align: center;
  height: 100%;
  background: #fff;
  padding: 40px 30px;
  border: 1px solid #eef0ef;
}

.mentor__svg {
  padding: 10px;
  border-radius: 50%;
  background-color: #ecf9f0;
}

.mentor-svg-icons {
  padding: 20px;
  transition: 0.3s;
  border: 1px solid #eef0ef;
}

.mentor-svg-icons:hover {
  border: 1px solid #5fcf80;
  color: #5fcf80;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}

.course__heading {
  font-size: 14px;
  background: #5fcf80;
  padding: 7px 14px;
  color: #fff;
  margin-left: 1rem;
}

.course__heading-small {
  transition: all 0.2s ease;
  cursor: pointer;
}

.course__paragraph-small {
  padding-bottom: 1rem;
  border-bottom: 1px solid #eef0ef;
}

.course__img {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mt-m1 {
  margin-bottom: -0.1rem;
}

.team__font {
  cursor: pointer;
}

.team__font:hover {
  fill: #2487ce;
}

.people {
  border: 1px solid #eef0ef;
  border-top: 0px;
}

.people__heading {
  font-size: 1rem;
}
